@model FYP.Web.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Projects";
    int counter = 0;

    var currentYear = DateTime.Now.Year.ToString();

    // Set the default batch to either the current year or an empty string if not found
    var selectedBatch = Model.batches.Contains(currentYear) ? currentYear : "Select Batch";

}
@section Styles {
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/card-statistics.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/vertical-timeline.css">
    <!-- END: Page CSS-->
    <!-- Add Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Section 1 -->
            <div class="mb-2 ">
                <div class="p-6 bg-white text-black rounded-lg " style="min-height:80vh">
                    <!-- Column 1: -->

                    <div class="w-full flex justify-between items-center" id="container">
                        <!-- Left content (div1) -->
                        <div class="p-8 ml-7 text-2xl font-bold" id="div1">
                            <h1>Projects</h1>
                        </div>

                        <!-- Right content (div2) -->
                        <div class="search-container" id="div2">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Batch
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (Model.batches.Any())
                                    {
                                    @foreach (var item in Model.batches)
                                    {
                                        <a class="dropdown-item batchChange" data-id="@item">@item</a>
                                    }
                                    }else{
                                        <a class="dropdown-item batchChange">No Batch</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container d-flex justify-content-center align-items-center">

                        <div class="text-center mx-2 btn proposalbtn">
                            <div class="rounded-circle bg-danger d-inline-block" style="width: 15px; height: 15px; vertical-align: middle;"></div>
                            <span class="ms-2 align-middle proposalvalue" data-id="Proposal">Proposal</span>
                        </div>
                        <div class="text-center mx-2 btn midbtn">
                            <div class="rounded-circle bg-primary d-inline-block" style="width: 15px; height: 15px; vertical-align: middle;"></div>
                            <span class="ms-2 align-middle midvalue" data-id="Mid">Mid</span>
                        </div>
                        <div class="text-center mx-2 btn finalbtn">
                            <div class="rounded-circle bg-success d-inline-block" style="width: 15px; height: 15px; vertical-align: middle;"></div>
                            <span class="ms-2 align-middle finalvalue" data-id="Final">Final</span>
                        </div>
                    </div>


                    @if (Model.projects == null || !Model.projects.Any())
                    {
                        <div class="container mt-0 md:mt-5 lg:mt-5">
                            <div class="row justify-content-center align-items-center" style="height:58vh;">
                                <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-center align-items-center">
                                            <h5 class="card-title"><i class="feather icon-alert-triangle text-danger mx-1"></i>No Project Exists</h5>
                                        </div>
                                  
                                        <div class="card-body text-center mb-3">
                                            <p>It looks like there are currently no projects available yet!</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    }
                    else
                    {
                        
                            <div class="row justify-content-center align-items-center" style="min-height: 58vh;" id="ViewAll">
                                @foreach (var item in Model.projects)
                                {
                                    <div class="col-12 col-md-6 col-sm-12 col-lg-5 ">
                                        <div class="card p-0">
                                            <div class="card-header no-border">
                                                <h5 class="card-title" id="datacode" data-id="@item.code">@item.code</h5>
                                            </div>
                                            <div class="card-body pt-0 ">
                                                <div class="widget-49">
                                                    <div class="widget-49-title-wrapper">
                                                        <div class="widget-49-date-warning">
                                                        <span class="widget-49-date-day">@(counter = counter + 1)</span>
                                                    </div>
                                                        <div class="widget-49-meeting-info">
                                                            <span class="widget-49-pro-title">@item.Title</span>
                                                            <span class="widget-49-meeting-time">Batch:@item.batch</span>
                                                        </div>
                                                    </div>
                                                    <ol class="widget-49-meeting-points">
                                                        <li class="widget-49-meeting-item"><span>Group:<span class="badge  badge-primary">@item.groupname</span></span></li>

                                                        @if (item.Status == "Approved")
                                                        {
                                                            <li class="widget-49-meeting-item">
                                                                <span>
                                                                    Status:<span class="text-success">
                                                                         Approved
                                                                    </span>
                                                                </span>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="widget-49-meeting-item">
                                                                <span>
                                                                    Status:<span class="text-danger">
                                                                        Not Approved
                                                                    </span>
                                                                </span>
                                                            </li>
                                                        }




                                                       @*  @if (item.changeTitleFormStatus == "Approved")
                                                        {
                                                            <li class="widget-49-meeting-item "><span id="ChangeTitleForm">Change Title Form:<span class="badge  text-primary" id="ChangeTitleForm">Approved</span></span></li>
                                                        }
                                                        else
                                                        {
                                                            <li class="widget-49-meeting-item "><span id="ChangeTitleForm">Change Title Form:<span class="badge  badge-primary" id="ChangeTitleForm">Not Requested</span></span></li>

                                                        } *@
                                                        @if (item.TotalMarks > 0)
                                                        {
                                                            <li class="widget-49-meeting-item "><span id="marksDisplay">Marks:<span class="badge  badge-primary" id="TotalMarks">@item.TotalMarks</span></span></li>

                                                        }


                                                    </ol>
                                                    <div class="widget-49-meeting-action">

                                                        <p class="btn btn-sm btn-flash-border-warning ViewAll" data-id="@item.code">DETAILS</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                        

                    }
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->
@section Scripts {

    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/cards/card-statistics.js"></script>
    <!-- END: Page JS-->
}

<script>
    
  $(document).ready(function () {
        $("#btnClick").click(function () {
            $.ajax({
                url: '/project/create',
                type: "GET",
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {

                }
            });

        });
        $('.proposalbtn').on('click', function () {
            var Type = "Proposal";
            $.ajax({
                url: '/cordinator/Evaluation',
                type: "GET",
                data: { Etype: Type,
                marks : 10
                },
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {
                    // handle error
                }
            });
        });
        $('.midbtn').on('click', function () {
            var Type = "Mid";
            $.ajax({
                url: '/cordinator/Evaluation',
                type: "GET",
                data: { Etype: Type,
                    marks: 30
                },
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {
                    // handle error
                }
            });
        });
        $('.finalbtn').on('click', function () {
            var Type = "Final";
            $.ajax({
                url: '/cordinator/Evaluation',
                type: "GET",
                data: { Etype: Type,
                    marks: 60
                },
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {
                    // handle error
                }
            });
        });
        var marks = $("#TotalMarks").val();
        if (marks === 0) {
            $("#marksDisplay").css("display", "none");
        }
        else {
            $("#marksDisplay").css("display", "block");

        }     
        
        $('.ViewAll').on('click', function () {
            var Code = $(this).data('id');
            $.ajax({
                url: '/project/projectdetails',
                type: "GET",
                data: { code: Code },
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {
                    // handle error
                }
            });
        });

        $(".batchChange").click(function () {
            var batch = $(this).data("id");
            $.ajax({
                url: '/cordinator/ProjectGroupbyBatch',
                type: "GET",
                data: { batch: batch }, // Send batch as a query parameter
                success: function (response) {
                    $("#ChangeDiv").html(response);
                    $("#dropdownMenuButton").text(batch);
                },
                error: function () {

                }
            });


        });

  });
</script>

<style>

    /* For Chrome, Safari, Edge, and Opera */
    ::-webkit-scrollbar {
        width: 6px; /* Set the width of the scrollbar */
        height: 6px; /* Set the height of the scrollbar (for horizontal scrollbars) */
    }

    ::-webkit-scrollbar-track {
        background: transparent; /* Background of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* Scrollbar color with transparency */
        border-radius: 10px; /* Rounded corners for the scrollbar */
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5); /* Darker on hover */
        }

    

    .card-margin {
        margin-bottom: 1.875rem !important;
    }

    .card {
        border: 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        min-width: 0 !important;
        word-wrap: break-word !important;
        background-color: #ffffff !important;
        background-clip: border-box !important;
        border: 1px solid #3b0764 !important;
        border-radius: 8px !important;
    }

        .card .card-header.no-border {
            border: 0 !important;
        }

        .card .card-header {
            background: none !important;
            padding: 0 0.9375rem !important;
            font-weight: 500 !important;
            display: flex !important;
            align-items: center !important;
            min-height: 50px !important;
        }

    .card-header:first-child {
        border-radius: calc(8px - 1px) calc(8px - 1px) 0 0 !important;
    }

    .widget-49 .widget-49-title-wrapper {
        display: flex !important;
        align-items: center !important;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #edf1fc !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
                color: #4e73e5 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
                color: #4e73e5 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fcfcfd !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
                color: #dde1e9 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
                color: #dde1e9 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #e8faf8 !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
                color: #17d1bd !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
                color: #17d1bd !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebf7ff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
                color: #36afff !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
                color: #36afff !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: floralwhite !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
                color: #FFC868 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
                color: #FFC868 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #feeeef !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
                color: #F95062 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
                color: #F95062 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fefeff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
                color: #f7f9fa !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
                color: #f7f9fa !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebedee !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
                color: #394856 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
                color: #394856 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #f0fafb !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
                color: #68CBD7 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
                color: #68CBD7 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
            display: flex !important;
            flex-direction: column !important;
            margin-left: 1rem !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
                color: #3c4142 !important;
                font-size: 14px !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
                color: #B1BAC5 !important;
                font-size: 13px !important;
            }

    .widget-49 .widget-49-meeting-points {
        font-weight: 400 !important;
        font-size: 13px !important;
        margin-top: .5rem !important;
    }

        .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
            display: list-item !important;
            color: #727686 !important;
        }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
                margin-left: .5rem !important;
            }

    .widget-49 .widget-49-meeting-action {
        text-align: right !important;
    }

        .widget-49 .widget-49-meeting-action a {
            text-transform: uppercase !important;
        }

    

</style>