@model FYP.Web.ViewModels.StudentGroupViewModel
@{
    ViewData["Title"] = "Student Groups";
    int counter = 0;
}

<!-- BEGIN: Content-->
<div id="ChangeDiv">
<div class="app-content content" >
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body ">
            <section class="users-list-wrapper">
                <div class="users-list-filter px-1">
                    <!-- Section 1 -->
                    <div class="mb-2 ">
                            <div class="p-6 bg-white text-black rounded-lg " style="min-height:80vh">
                                <!-- Column 1: -->

                                <div class="w-full flex justify-between items-center" id="container">
                                    <!-- Left content (div1) -->
                                    <div class="p-8 ml-7 text-2xl font-bold" id="div1">
                                        <h1>Student Groups</h1>
                                    </div>

                                    <!-- Right content (div2) -->
                                    <div class="search-container mr-7" id="div2">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select Batch
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                @foreach (var item in Model.Batches)
                                                {
                                                    <a class="dropdown-item batchChange" data-id="@item">@item</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.StudentGroups == null)
                            {
                                <div class="container mt-0 md:mt-5 lg:mt-5">
                                    <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
                                        <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                                            <div class="card">
                                                <div class="card-header text-center">
                                                    <h5 class="card-title">No Student Group Exists</h5>
                                                </div>
                                                <div class="card-body text-center">
                                                    <p>It looks like there are currently no student groups available.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            }
                            else
                            {

                                <div class="container mt-0 md:mt-5 lg:mt-5" >
                                    <div class="row d-flex justify-content-center " >
                                        @foreach (var item in Model.StudentGroups)
                                        {

                                            <div class="col-12 col-md-6 col-sm-12 col-lg-5">
                                                <div class="card p-0">
                                                    <div class="card-header no-border">
                                                        <h5 class="card-title mx-1">@item.Name</h5>

                                                            @if (item.Member1Name == "Not Assigned" && item.Member2Name == "Not Assigned")
                                                            {
                                                                <span><i class="feather icon-check-circle text-danger"></i></span>
                                                            }
                                                            else
                                                            {
                                                                <span><i class="feather icon-check-circle text-success"></i></span>
                                                            }
                                                        </div>
                                                    <div class="card-body pt-0 ">
                                                        <div class="widget-49">
                                                            <div class="widget-49-title-wrapper">
                                                                <div class="widget-49-date-warning">
                                                                    <span class="widget-49-date-day">@(counter = counter + 1)</span>
                                                                </div>
                                                                <div class="widget-49-meeting-info">
                                                                    <span class="widget-49-pro-title ">Supervisor Name: @(item.supervisorname ?? "N/A")</span>
                                                                    <span class="widget-49-meeting-time">@item.Batch</span>
                                                                </div>
                                                            </div>
                                                            <ol class="widget-49-meeting-points">
                                                                <li class="widget-49-meeting-item">
                                                                    <span>
                                                                        Supervisor:
                                                                        <span>
                                                                            @(item.supervisorname ?? "Name yet to Enter")
                                                                        </span>
                                                                    </span>
                                                                </li>
                                                                <li class="widget-49-meeting-item">
                                                                        <span>
                                                                            Evaluator 1:
                                                                            <span>
                                                                                @(item.Member1Name ?? "Not Assigned")
                                                                            </span>
                                                                        </span>

                                                                </li>
                                                                <li class="widget-49-meeting-item">
                                                                        <span>
                                                                            Evaluator 2:
                                                                            <span >
                                                                                @(item.Member2Name ?? "Not Assigned")
                                                                            </span>
                                                                        </span>

                                                                </li>
                                                            </ol>
                                                            <div class="widget-49-meeting-action">
                                                                    
                                                                        <button class="btn btn-primary btn-sm assignGroup" data-id="@item.Id" data-batch="@item.Batch">Assign</button>

@*                                                                 <a class="btn btn-sm btn-flash-border-warning ChangeSupervisor" data-value="@item.GrouID">Change Supervisor</a>
 *@                                                                @* <a class="btn btn-sm btn-flash-border-warning">Edit</a> *@
                                                                @* <a href="#" class="btn btn-sm btn-flash-border-warning">View All</a> *@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                        


                                    </div>
                                </div>
                            }
                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
</div>
<!-- END: Content-->
<!-- Modal -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<style>

    /* For Chrome, Safari, Edge, and Opera */
    ::-webkit-scrollbar {
        width: 6px; /* Set the width of the scrollbar */
        height: 6px; /* Set the height of the scrollbar (for horizontal scrollbars) */
    }

    ::-webkit-scrollbar-track {
        background: transparent; /* Background of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* Scrollbar color with transparency */
        border-radius: 10px; /* Rounded corners for the scrollbar */
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5); /* Darker on hover */
        }



    .card-margin {
        margin-bottom: 1.875rem !important;
    }

    .card {
        border: 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        min-width: 0 !important;
        word-wrap: break-word !important;
        background-color: #ffffff !important;
        background-clip: border-box !important;
        border: 1px solid #e6e4e9 !important;
        border-radius: 8px !important;
    }

        .card .card-header.no-border {
            border: 0 !important;
        }

        .card .card-header {
            background: none !important;
            padding: 0 0.9375rem !important;
            font-weight: 500 !important;
            display: flex !important;
            align-items: center !important;
            min-height: 50px !important;
        }

    .card-header:first-child {
        border-radius: calc(8px - 1px) calc(8px - 1px) 0 0 !important;
    }

    .widget-49 .widget-49-title-wrapper {
        display: flex !important;
        align-items: center !important;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #edf1fc !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
                color: #4e73e5 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
                color: #4e73e5 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fcfcfd !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
                color: #dde1e9 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
                color: #dde1e9 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #e8faf8 !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
                color: #17d1bd !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
                color: #17d1bd !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebf7ff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
                color: #36afff !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
                color: #36afff !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: floralwhite !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
                color: #FFC868 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
                color: #FFC868 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #feeeef !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
                color: #F95062 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
                color: #F95062 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fefeff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
                color: #f7f9fa !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
                color: #f7f9fa !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebedee !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
                color: #394856 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
                color: #394856 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #f0fafb !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
                color: #68CBD7 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
                color: #68CBD7 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
            display: flex !important;
            flex-direction: column !important;
            margin-left: 1rem !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
                color: #3c4142 !important;
                font-size: 14px !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
                color: #B1BAC5 !important;
                font-size: 13px !important;
            }

    .widget-49 .widget-49-meeting-points {
        font-weight: 400 !important;
        font-size: 13px !important;
        margin-top: .5rem !important;
    }

        .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
            display: list-item !important;
            color: #727686 !important;
        }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
                margin-left: .5rem !important;
            }

    .widget-49 .widget-49-meeting-action {
        text-align: right !important;
    }

        .widget-49 .widget-49-meeting-action a {
            text-transform: uppercase !important;
        }

</style>
<script>
    $(document).ready(function () {
        $(document).on('click', '.assignGroup', function (e) {
            showLoadingSpinner(); // Show the loading spinner
            var groupId = $(this).data("id");
            var batches = $(this).data("batch");
            $.ajax({
                url: "/studentgroups/FetchBatches",
                type: "GET",
                data: { id: groupId, batch: batches , assignRequest : true },
                success: function (response) {
                    hideLoadingSpinner(); // Hide the loading spinner
                    $("#MainContainer").html(response);

                },
                error: function () {

                }
            });

        });

        $(".batchChange").click(function () {
            var batch = $(this).data("id");
                $.ajax({
                url: '/cordinator/StudentGroupbyBatch',
                type: "GET",
                data: { batch: batch }, // Send batch as a query parameter
                success: function (response) {
                    $("#ChangeDiv").html(response);

                    $("#dropdownMenuButton").text(batch);
                },
                    error: function () {

                    }
                });

            
        });

    });
</script>

