@model FYP.Web.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Projects";
    int counter = 0;

}
@section Styles {
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/card-statistics.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/vertical-timeline.css">
    <!-- END: Page CSS-->
}
<!-- BEGIN: Content-->
<div id="ChangeDiv">
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="users-list-wrapper">
                    <div class="users-list-filter px-1">
                        <!-- Section 1 -->
                        <div class="">
                            <div class="p-3 bg-white text-black rounded-lg" style="height:80vh; min-height:80vh">

                                <!-- Column 1: -->
                                <div class="mb-1">
                                    <div class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-4">
                                        <div class="text-2xl font-bold">
                                            <h1>Projects</h1>
                                        </div>
                                    </div>
                                </div>

                                <!-- Common Block for Empty Projects -->
                                @if (Model.projects == null || !Model.projects.Any())
                                {
                                    <div class="container">
                                        <div class="row justify-content-center align-items-center" style="min-height: 40vh;">
                                            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                                                <i class="fa fa-trash-o text-secondary" style="font-size: 10rem;"></i>
                                                <p class="text-secondary fw-bold text-center text-danger" style="font-size: 1.5rem;">No Project Exist!</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <!-- Batch Selection -->
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 order-sm-1 order-md-1 order-lg-1">
                                        <div class="form-group">
                                            <label>Batch</label>
                                            <fieldset>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon3">
                                                            <i class="fa fa-calendar" style="color: transparent; -webkit-text-stroke: 1px black;"></i>
                                                        </span>
                                                    </div>
                                                    <select class="form-control" id="BatchSelect">
                                                        <option value="" selected>Select Batch</option>
                                                        @foreach (var item in Model.batches)
                                                        {
                                                            if (Model.batch != null && Model.batch == item)
                                                            {

                                                                <option value="@item" selected>@item</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item">@item</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <span asp-validation-for="batches" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <!-- Project Name Search -->
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 order-sm-2 order-md-2 order-lg-2 mb-2">
                                        <div class="form-group">
                                            <label>Project Name</label>
                                            <fieldset>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon0">
                                                            <i class="fa fa-users" style="color: transparent; -webkit-text-stroke: 1px black;"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Enter Project Name to Search" id="ProjectNameCheck" aria-describedby="basic-addon0" required>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <!-- Projects List -->
                                    <div>
                                        <label>Projects:</label>
                                    </div>
                                    <div class="container mt-0 md:mt-5 lg:mt-5">
                                        <div class="row d-flex justify-content-center" id="ProjectContainer">
                                            @foreach (var item in Model.projects)
                                            {
                                                <div class="col-12 col-md-12 col-sm-12 col-lg-6">
                                                    <div class="card p-0">
                                                        <div class="card-header no-border d-flex align-items-center">
                                                            <div class="widget-49-date-warning d-flex align-items-center">
                                                                <span class="badge bg-warning rounded-circle text-dark d-inline-flex align-items-center justify-content-center" style="width: 24px; height: 24px;">
                                                                    @(counter = counter + 1)
                                                                </span>
                                                            </div>

                                                            @if (User.IsInRole("Cordinator"))
                                                            {
                                                                <h5 class=" esizeSmall fs-md-4 fs-lg-3 mx-1">@item.code</h5>
                                                            }
                                                            @if (item.Status == "Approved")
                                                            {
                                                                <span title="Project Approved!" class="esizeSmall bg-green-100 mx-1 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 justify-center">
                                                                    <i class="fas fa-check-circle"></i>
                                                                    Approved
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span title="Cordinator didnt Approve the Project! Change it." class="esizeSmall bg-red-100 mx-1 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 justify-center">
                                                                    <i class="fas fa-times-circle"></i>
                                                                    Not Approved
                                                                </span>
                                                            }




                                                            @if (User.IsInRole("Supervisor"))
                                                            {
                                                                <div class="ml-auto">
                                                                    <a href="javascript:void(0)" class="detailIcon" style="margin-left:1rem;" data-id="@item.code" title="Detail" id="Details">
                                                                        <i class="fas fa-info-circle text-blue-700 hover:text-blue-500 transition-all"></i>
                                                                    </a>

                                                                    @if (item.SupervsiorApproved != "Approved")
                                                                    {
                                                                        <a href="javascript:void(0)" class="approvedIcon" style="margin-left:1rem;" data-id="@item.Id" data-status="Approved" id="Approve" title="Approve the Project">
                                                                            <i class="fas fa-check-circle text-green-700 hover:text-green-500 transition-all"></i>
                                                                        </a>
                                                                    }
                                                                </div>
                                                            }

                                                        </div>
                                                        <div class="card-body pt-0">
                                                            <div class="widget-49">
                                                                <div class="table-responsive" style="overflow-x: auto;">
                                                                    <table class="  mb-0" style="border-spacing: 0; min-width: 200px;">
                                                                        @if (User.IsInRole("Supervisor"))
                                                                        {

                                                                            <tr>
                                                                                <td class="">
                                                                                    <span class="text-black fw-bold">Code:</span>
                                                                                    <u><span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300 " style="margin-left:3.3rem;"><b>@item.code</b></span></u>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="">
                                                                                    <span class="text-black fw-bold"></span>
                                                                                    Title:
                                                                                    <u> <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:3.9rem"><b>@item.Title</b></span></u>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                        @if (User.IsInRole("Cordinator"))
                                                                        {
                                                                            <tr>
                                                                                <td class="">
                                                                                    <span class="text-black fw-bold">Title:</span>
                                                                                    <u>
                                                                                        <span class="inline-flex items-center gap-x-1.5 py-1.5 px-2 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 dark:bg-yellow-800/30 dark:text-yellow-500"><b>@item.Title</b></span>
                                                                                    </u>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="">
                                                                                    <span class="text-black fw-bold">Group Name:</span>
                                                                                    <u>
                                                                                        <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300"><b>@item.groupname</b></span>
                                                                                    </u>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                        <tr>
                                                                            <td class="">
                                                                                <span class="text-black fw-bold">Department:</span>
                                                                                <u><span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:0.5rem"><b>@item.projectGroup</b></span></u>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="">
                                                                                <span class="text-black fw-bold">Submission:</span>
                                                                                <u>
                                                                                    <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:0.5rem">
                                                                                        <b>
                                                                                            @if (item.PropPPT != null && item.PropReport != null)
                                                                                            {
                                                                                                <span>Proposal Docs Submitted</span>
                                                                                                @if (item.PropPPT != null && item.PropReport != null && item.MidPPT != null && item.MidReport != null)
                                                                                                {
                                                                                                    <span>,Mid Docs Submitted</span>
                                                                                                    @if (item.PropPPT != null && item.PropReport != null && item.MidPPT != null && item.MidReport != null && item.FinalDocs != null)
                                                                                                    {
                                                                                                        <span>,Final Docs Submitted</span>

                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <span>N/A</span>
                                                                                            }
                                                                                        </b>
                                                                                    </span>
                                                                                </u>
                                                                            </td>
                                                                        </tr>
                                                                        @if (User.IsInRole("Supervisor"))
                                                                        {
                                                                            <tr>
                                                                                <td class="">
                                                                                    <span class="text-black fw-bold">Supervisor Approved:</span>
                                                                                    <u>
                                                                                        <span class="text-sm font-medium @((item.SupervsiorApproved == null) ? "text-red-600 dark:text-red-300" : "text-green-600 dark:text-green-300")">
                                                                                            <b>    @(item.SupervsiorApproved ?? "You didn't approve yet!")</b>
                                                                                        </span>
                                                                                    </u>
                                                                                </td>

                                                                            </tr>
                                                                        }



                                                                    </table>
                                                                </div>

                                                                @if (item.Status == "Approved")
                                                                {
                                                                    <div class="d-flex justify-content-end">
                                                                        <p class="btn btn-sm btn-flash-border-warning Submission" data-id="@item.Id">Submission</p>
                                                                        <p class="btn btn-sm btn-flash-border-warning " id="Details" data-id="@item.code">Details</p>

                                                                    </div>
                                                                }

                                                                @if (item.Status != "Approved")
                                                                {
                                                                    <div class="d-flex justify-content-end">
                                                                        <button class="btn btn-sm btn-flash-border-warning Submission" data-id="@item.Id" disabled>Submission</button>
                                                                        <p class="btn btn-sm btn-flash-border-warning " id="Details" data-id="@item.code">Details</p>

                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
<!-- END: Content-->
@section Scripts {

    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/cards/card-statistics.js"></script>
    <!-- END: Page JS-->
}
@if (ViewBag.success == "Updated")
{
    <script>
        Swal.fire({
            title: 'Successfully Updated!',        // Title of the modal
            icon: 'success',                // Warning icon for alerts
            confirmButtonText: 'OK',        // Text on the confirm button
            customClass: {
                confirmButton: 'btn btn-success',  // Bootstrap class for the button
            },
            showCancelButton: false,        // Hides the cancel button
            buttonsStyling: false,          // Disables default button styling
        });
    </script>
}
@if (ViewBag.success == "NotFound")
{
    <script>
        Swal.fire({
            title: 'Project Not Found!',        // Title of the modal
            icon: 'danger',                // Warning icon for alerts
            confirmButtonText: 'OK',        // Text on the confirm button
            customClass: {
                confirmButton: 'btn btn-danger',  // Bootstrap class for the button
            },
            showCancelButton: false,        // Hides the cancel button
            buttonsStyling: false,          // Disables default button styling
        });
    </script>
}

<script>
    $(document).on('click', '.Submission', function () {
        var id = $(this).data('id');
        $.ajax({
            url: '/project/projectlist',
            data: { Id: id },
            type: "GET",
            success: function (response) {
                $("#MainContainer").html(response);
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error: " + status + " - " + error);
            }
        });
    });
    $(document).off('click', '#Details').on('click', '#Details', function (e) {
        var Code = $(this).data('id');
        $.ajax({
            url: '/project/projectdetails',
            type: "GET",
            data: { code: Code },
            success: function (response) {
                $("#MainContainer").html(response);
            },
            error: function () {
                // handle error
            }
        });
    });
    // Handle click event for the Approved button
    $(document).on('click', '#Approve', function (e) {
        var projectId = $(this).data('id');
        var status = $(this).data("status"); // "true" for Approved

        // Make the AJAX call to change status
        $.ajax({
            url: '/project/ChangeSupervisorApprovedStatus', // Action method URL
            type: 'POST', // HTTP method
            data: { Id: projectId, status: status }, // Data to be sent
            success: function (response) {
                // Handle success, redirect or display a message
                $("#MainContainer").html(response);
            },
            error: function () {
                alert("Failed to update the project status.");
            }
        });
    });
    $(".batchChange").click(function () {
        var batch = $(this).data("id");
        $.ajax({
            url: '/supervisor/ProjectGroupbyBatch',
            type: "GET",
            data: { batch: batch }, // Send batch as a query parameter
            success: function (response) {
                $("#ChangeDiv").html(response);
                $("#dropdownMenuButton").text(batch);
            },
            error: function () {

            }
        });
    });
    $(document).on('change', '#ProjectNameCheck, #BatchSelect', function (e) {
        e.preventDefault();

        showLoadingSpinner();
        var groupWord = $("#ProjectNameCheck").val();  // Get the group name from the input
        var batch = $("#BatchSelect").val();  // Get the selected batch

        // Send both GroupWord and Batch to the server
        $.ajax({
            url: "/supervisor/FilterProjects", // URL for your controller action
            type: "POST",
            data: {
                ProjectWord: groupWord,
                Batch: batch
            },
            success: function (response) {
                hideLoadingSpinner();

                // Clear the current group container
                $("#ProjectContainer").html('');

                var counter = 0;
                const userRole = "@(User.IsInRole("Cordinator") ? "Cordinator" : (User.IsInRole("Supervisor") ? "Supervisor" : "None"))";
                if (response.length > 0) {
                    $.each(response, function (index, item) {
                        console.log(response);
                        var supervisorClass = "text-red-600 dark:text-red-300"; // Default class for not approved
                        var supervisorText = "You didn't approve yet!"; // Default text for not approved

                        if (item.supervsiorApproved !== null && item.supervsiorApproved === "Approved") {
                            supervisorClass = "text-green-600 dark:text-green-300"; // Class for approved
                            supervisorText = item.supervsiorApproved; // Set the text to "Approved"
                        }

                        var projectHtml = `
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
                                        <div class="card p-0">
                                            <div class="card-header no-border d-flex align-items-center">
                                                <div class="widget-49-date-warning d-flex align-items-center">
                                                    <span class="badge bg-warning rounded-circle text-dark d-inline-flex align-items-center justify-content-center" style="width: 24px; height: 24px;">
                                                        ${(counter += 1)}
                                                    </span>
                                                </div>
                                                                                                    ${userRole === "Cordinator" ? `                                                                <h5 class=" esizeSmall fs-md-4 fs-lg-3 mx-1">${item.code}</h5>
            ` : ""}
                                                     ${item.status === "Approved"
                                ? `
                                                                           <span title="Project Approved!" class="esizeSmall bg-green-100 mx-1 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 justify-center">
        <i class="fas fa-check-circle"></i>
        Approved
    </span>
                                                                    `
                                : `
                                                                            <span title="Not Approved!" class=" esizeSmall bg-red-100 mx-1 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 justify-center">
         <i class="fas fa-times-circle"></i>
         Not Approved
     </span>
                                                                    `
                            }


                                                                                ${userRole === "Supervisor" ? `

                                                                                                    <div class="ml-auto">
                        <!-- Details Icon -->
                        <a href="javascript:void(0)" class="detailIcon" style="margin-left:1rem;" data-id="${item.code}" id="Details" title="Details">
                            <i class="fas fa-info-circle text-blue-700 hover:text-blue-500 transition-all"></i>
                        </a>
                            ${item.supervsiorApproved !== "Approved"
                                    ? `
                            <!-- Approve Icon -->
                            <a href="javascript:void(0)" class="approvedIcon" style="margin-left:1rem;" data-id="${item.id}" data-status="Approved" title="Approve the Project">
                                <i class="fas fa-check-circle text-green-700 hover:text-green-500 transition-all"></i>
                            </a>
                            `
                                    : ""
                                }
                    </div>


                                                                                ` : ""}





                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="widget-49">
                                                    <div class="table-responsive" style="overflow-x: auto;">
                                                        <table class="mb-0" style="border-spacing: 0; min-width: 200px;">
                                                                                                            ${userRole === "Supervisor" ? `
                                                                                                                <tr>
        <td>
            <span class="text-black fw-bold">Code:</span>
           <u> <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:3.3rem;">
                <b>${item.code}</b>
                </span></u>
        </td>
    </tr>
         <tr>
                                                                    <td>
                                                                        <span class="text-black fw-bold">Title:</span>
                                                                            <u><span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:3.9rem;">
                                                                            <b>${item.title}</b>
                                                                        </span></u>
                                                                    </td>
                                                                </tr>
                                                                                                            ` : ""}

                                                                                                                ${userRole === "Cordinator" ? `<tr>
        <td>
            <span class="text-black fw-bold">Title:</span>
                <u><span class="inline-flex items-center gap-x-1.5 py-1.5 px-2 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 dark:bg-yellow-800/30 dark:text-yellow-500">
                <b>${item.title}</b>
            </span></u>
        </td>
    </tr>` : ""}

                                                            <tr>
                                                                <td>
                                                                    <span class="text-black fw-bold">Group Name:</span>
                                                                    <u><span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300">
                                                                            <b>${item.groupname}</b>
                                                                        </span></u>
                                                                </td>
                                                            </tr>
                                                                  <tr>
                                                                                <td class="">
                                                                                    <span class="text-black fw-bold">Department:</span>
                                                                                            <u><span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:0.5rem"><b>${item.projectGroup}</b></span></u>
                                                                                </td>
                                                                            </tr>
                                                                                ${item.PropPPT != null && item.PropReport != null
                                ? `
        <tr>
            <td class="">
                <span class="text-black fw-bold">Submission:</span>
                <u>
                    <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:0.5rem">
                        <b>
                            Proposal Docs Submitted
                            ${item.MidPPT != null && item.MidReport != null
                                    ? `, Mid Docs Submitted`
                                    : ``}
                            ${item.MidPPT != null && item.MidReport != null && item.FinalDocs != null
                                    ? `, Final Docs Submitted`
                                    : ``}
                        </b>
                    </span>
                </u>
            </td>
        </tr>
      `
                                : `
        <tr>
            <td class="">
                <span class="text-black fw-bold">Submission:</span>
                <u>
                    <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300" style="margin-left:0.5rem">
                        <b>N/A</b>
                    </span>
                </u>
            </td>
        </tr>
      `
                            }

                                                        </table>

                                                    </div>
                                                               ${item.status === "Approved"
                                ? `
                                                                          <div class="d-flex justify-content-end">
        <p class="btn btn-sm btn-flash-border-warning Submission" data-id="${item.Id}">Submission</p>
        <p class="btn btn-sm btn-flash-border-warning" id="Details" data-id="${item.code}">Details</p>

    </div>
                                                                        `
                                : `
                                                                           <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-flash-border-warning Submission" data-id="${item.Id}" disabled>Submission</button>
        <p class="btn btn-sm btn-flash-border-warning" id="Details" data-id="${item.code}">Details</p>

    </div>
                                                                        `
                            }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `;

                        // Append the project card to the container
                        $("#ProjectContainer").append(projectHtml);
                    });
                } else {
                    // If no projects are found, display a "No Projects Found" message
                    var noProjectsHtml = `
                                                    <div class="container">
                                                        <div class="row justify-content-center align-items-center" style="min-height: 40vh;">
                                                            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                                                                <i class="fa fa-trash-o text-secondary" style="font-size: 10rem; display: block;"></i>
                                                                <p class="text-secondary fw-bold text-center" style="font-size: 1.5rem;">No Projects Found!</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                `;
                    $("#ProjectContainer").append(noProjectsHtml);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                hideLoadingSpinner();
                console.error("Error fetching groups:", textStatus, errorThrown);
                alert("An error occurred while fetching the groups. Please try again.");
            }
        });
    });





</script>

<style>
    @@media (max-width: 768px) {
        /* Styles for small screens (mobile devices) */
        .esizeSmall {
            font-size: 9px !important;
        }
    }

    .DeleteButton {
        color: #dc2626 !important;
    }

    .AssignButton1 {
        color: #16a34a !important;
    }

    .EditButton {
        color: #0891b2 !important;
    }

    .DetailsButton {
        color: #f59e0b !important;
    }

    /* For Chrome, Safari, Edge, and Opera */
    ::-webkit-scrollbar {
        width: 6px; /* Set the width of the scrollbar */
        height: 6px; /* Set the height of the scrollbar (for horizontal scrollbars) */
    }

    ::-webkit-scrollbar-track {
        background: transparent; /* Background of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* Scrollbar color with transparency */
        border-radius: 10px; /* Rounded corners for the scrollbar */
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5); /* Darker on hover */
        }


    .card-margin {
        margin-bottom: 1.875rem !important;
    }



    .card {
        border: 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        min-width: 0 !important;
        word-wrap: break-word !important;
        background-color: #ffffff !important;
        background-clip: border-box !important;
        border: 1px solid #dc2626 !important;
        border: 1px solid #3b0764 !important;
        border-radius: 8px !important;
    }


        .card .card-header.no-border {
            border: 0 !important;
        }

        .card .card-header {
            background: none !important;
            padding: 0 0.9375rem !important;
            font-weight: 500 !important;
            display: flex !important;
            align-items: center !important;
            min-height: 50px !important;
        }

    .card-header:first-child {
        border-radius: calc(8px - 1px) calc(8px - 1px) 0 0 !important;
    }


    .widget-49 .widget-49-title-wrapper {
        display: flex !important;
        align-items: center !important;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #edf1fc !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
                color: #4e73e5 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
                color: #4e73e5 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fcfcfd !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
                color: #dde1e9 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
                color: #dde1e9 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #e8faf8 !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
                color: #17d1bd !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
                color: #17d1bd !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebf7ff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
                color: #36afff !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
                color: #36afff !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: floralwhite !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
                color: #FFC868 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
                color: #FFC868 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #feeeef !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
                color: #F95062 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
                color: #F95062 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fefeff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
                color: #f7f9fa !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
                color: #f7f9fa !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebedee !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
                color: #394856 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
                color: #394856 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #f0fafb !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
                color: #68CBD7 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
                color: #68CBD7 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
            display: flex !important;
            flex-direction: column !important;
            margin-left: 1rem !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
                color: #3c4142 !important;
                font-size: 14px !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
                color: #B1BAC5 !important;
                font-size: 13px !important;
            }

    .widget-49 .widget-49-meeting-points {
        font-weight: 400 !important;
        font-size: 13px !important;
        margin-top: .5rem !important;
    }

        .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
            display: list-item !important;
            color: #727686 !important;
        }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
                margin-left: .5rem !important;
            }

    .widget-49 .widget-49-meeting-action {
        text-align: right !important;
    }

        .widget-49 .widget-49-meeting-action a {
            text-transform: uppercase !important;
        }

</style>
