@model FYP.Web.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Projects";

}
@section Styles {
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/card-statistics.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/vertical-timeline.css">
    <!-- END: Page CSS-->
    <!-- Add Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<!-- BEGIN: Content-->

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
                           <div class=" ">
                                                       <i class="fas fa-arrow-left" style="font-size: 35px;" id="previousbtn"></i>

                        <div class="p-3 bg-white text-black rounded-lg " style="height:80vh ; min-height:80vh">

                            <!-- Column 1: -->
                            <div class="" style="min-height:100px;">
                                <div class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-4 ">
                                    <div class=" text-2xl font-bold">
                                        <h1>
                                            Submissions
                                        </h1>
                                    </div>

                                </div>
                    @if (Model.CurrentProject != null)
                    {


                        @if (Model.Status == "Approved")
                        {
                            <div class="container mt-3">

                                <div class="table-responsive">
                                    <table class="table table-bordered  table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>Evaluation</th>
                                                <th>Remarks</th>
                                                                                                @if (User.IsInRole("Student"))
{
                                                <th>Total Marks</th>
}
                                                <th>Submission</th>
                                                @if (User.IsInRole("Student"))
                                                {
                                                    <th>Delete</th>
                                                }
                                                <th>Last Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          @if (Model.Proposaldate !=null)
                                            {
                                                    @if (Model.Proposal != null && Model.Proposaldate != null)
                                            {
                                                <tr>
                                                    <td class="text-dark">Proposal</td>
                                                        <td>
                                                    @if (!string.IsNullOrEmpty(Model.MidRemark))
                                                    {
                                                        <span class="remark-text" >
                                                            @Model.MidRemark
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="remark-text" >
                                                            N/A
                                                        </span>
                                                    }
                                                </td>
                                                                                                                                                @if (User.IsInRole("Student"))
{
                                                    <td>
                                                        @if (Model.Proposalmarks == 0)
                                                        {
                                                            <span>-</span>
                                                        }
                                                        else
                                                        {
                                                            @Model.Proposalmarks
                                                        }
                                                    </td>
}
                                                    <td>
                                                        @if (User.IsInRole("Student"))
                                                        {
                                                            @if (string.IsNullOrEmpty(Model.PropPPT))
                                                            {
                                                                <label for="ProposalpptUpload" class="btn btn-sm btn-danger" id="PropPPTLabel">PPT</label>
                                                                <input type="file" id="ProposalpptUpload" accept=".ppt, .pptx" style="display:none;" />
                                                                <input type="hidden" id="PropPPT" name="PropPPT" value="@Model.PropPPT" /> <!-- Hidden input to store the uploaded image URL -->
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.PropPPT" download="Proposal" class="btn bg btn-sm "><i class="fa fa-download"></i> PPT</a>
                                                            }
                                                            @if (string.IsNullOrEmpty(Model.PropReport))
                                                            {
                                                                <label for="ProposalfileUpload" class="btn btn-sm btn-primary">Report</label>
                                                                <input type="file" id="ProposalfileUpload" accept=".doc, .docx, .pdf" style="display:none;" />
                                                                <input type="hidden" id="PropReport" name="PropReport" value="@Model.PropReport" /> <!-- Hidden input to store the uploaded image URL -->
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.PropReport" download="Report" class="btn bg btn-sm"><i class="fa fa-download"></i> Report</a>

                                                            }
                                                        }
                                                        @if (User.IsInRole("Supervisor") ||User.IsInRole("Cordinator"))
                                                        {
                                                            @if (string.IsNullOrEmpty(Model.PropPPT) && string.IsNullOrEmpty(Model.PropReport))
                                                            {
                                                                                                                                                                                                                                                              <p style="color:#dc2626">Not Uploaded</p>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.PropPPT" download="Proposal" class="btn bg btn-sm "><i class="fa fa-download"></i> PPT</a>
                                                            }
                                                            @if (!string.IsNullOrEmpty(Model.PropReport))
                                                            {
                                                                <a href="@Model.PropReport" download="Report" class="btn bg btn-sm"><i class="fa fa-download"></i> Report</a>
                                                            }
                                                        }


                                                    </td>
                                                    @if (User.IsInRole("Student"))
                                                    {
                                                        
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(Model.PropPPT) || !string.IsNullOrEmpty(Model.PropReport))
                                                        {
                                                            <span>
                                                                @if (!string.IsNullOrEmpty(Model.PropPPT))
                                                                {
                                                                    <button type="button" class="btn btn-sm PropdeletePPTUpload bgdelete " data-id="@Model.PropPPT">Delete PPT</button>

                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.PropReport))
                                                                {
                                                                    <button type="button" class="btn btn-sm ProdeleteReportUpload bgdelete" data-id="@Model.PropReport">Delete Report</button>

                                                                }

                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span style="font-size:25px"> - </span>
                                                        }
                                                    </td>
                                                    }
                                                    <td>
                                                        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">@Model.Proposaldate.ToString("dd/MM/yyyy")</span>
                                                    </td>
                                                </tr>
                                            }
                                            @if (Model.mid != null && Model.middate != null)
                                            {
                                                <tr>
                                                    <td class="text-dark">Mid</td>
                                                    <td>
                                                    @if (!string.IsNullOrEmpty(Model.MidRemark))
                                                    {
                                                        <span class="remark-text">
                                                            @Model.MidRemark
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="remark-text" >
                                                            N/A
                                                        </span>
                                                    }
                                                </td>

                                                     @if (User.IsInRole("Student"))
{
                                                    <td>
                                                        @if (Model.midmarks == 0)
                                                        {
                                                            <span>-</span>
                                                        }
                                                        else
                                                        {
                                                            @Model.midmarks
                                                        }
                                                    </td>
}                                                 <td>
                                                        @if (User.IsInRole("Student"))
                                                        {
                                                            @if (string.IsNullOrEmpty(Model.MidPPT))
                                                            {
                                                                <label for="MidpptUpload" class="btn btn-sm btn-danger" id="MidPPTLabel">PPT</label>
                                                                <input type="file" id="MidpptUpload" accept=".ppt, .pptx" style="display:none;" />
                                                                <input type="hidden" id="MidPPT" name="MidPPT" value="@Model.MidPPT" /> <!-- Hidden input to store the uploaded image URL -->
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.MidPPT" download="MidDefense.ppt" class="btn bg btn-sm"><i class="fa fa-download"></i> PPT</a>
                                                            }

                                                            @if (string.IsNullOrEmpty(Model.MidReport))
                                                            {
                                                                <label for="MidfileUpload" class="btn btn-sm btn-primary" id="MidReportLabel">Report</label>
                                                                <input type="file" id="MidfileUpload" accept=".doc, .docx, .pdf" style="display:none;" />
                                                                <input type="hidden" id="MidReport" name="MidReport" value="@Model.MidReport" /> <!-- Hidden input to store the uploaded image URL -->
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.MidReport" download="Report" class="btn bg btn-sm"><i class="fa fa-download"></i> Report</a>
                                                            }
                                                        }
                                                        @if (User.IsInRole("Supervisor") || User.IsInRole("Cordinator"))
                                                        {
                                                            @if (string.IsNullOrEmpty(Model.MidPPT) && string.IsNullOrEmpty(Model.MidReport))
                                                            {
                                                                                                                                                                                            <p style="color:#dc2626">Not Uploaded</p>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.MidPPT" download="Proposal" class="btn bg btn-sm "><i class="fa fa-download"></i> PPT</a>
                                                            }
                                                            @if (!string.IsNullOrEmpty(Model.MidReport))
                                                            {
                                                                <a href="@Model.MidReport" download="Report" class="btn bg btn-sm"><i class="fa fa-download"></i> Report</a>
                                                            }
                                                        }

                                                    </td>
                                                    @if (User.IsInRole("Student"))
                                                    {
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(Model.MidPPT) || !string.IsNullOrEmpty(Model.MidReport))
                                                        {
                                                            <span>
                                                                @if (!string.IsNullOrEmpty(Model.MidPPT))
                                                                {
                                                                    <button type="button" class="btn btn-sm bgdelete MiddeletePPTUpload" data-id="@Model.MidPPT">Delete PPT</button>

                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.MidReport))
                                                                {
                                                                    <button type="button" class="btn btn-sm bgdelete MiddeleteReportUpload" data-id="@Model.MidReport">Delete Report</button>

                                                                }

                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span style="font-size:25px"> - </span>
                                                        }
                                                    </td>
                                                    }
                                                    <td>
                                                                                                                <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">@Model.middate.ToString("dd/MM/yyyy")</span>

                                                    </td>
                                                </tr>
                                            }
                                            @if (Model.final != null && Model.finaldate != null)
                                            {
                                                <tr>
                                                    <td class="text-dark">Final</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.FinalRemark))
                                                            {
                                                                <span class="remark-text">
                                                                    @Model.FinalRemark
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="remark-text" >
                                                                    N/A
                                                                </span>
                                                            }
                                                        </td>

                                                    @if (User.IsInRole("Student"))
{
                                                    <td>
                                                        @if (Model.finalmarks == 0)
                                                        {
                                                            <span>-</span>
                                                        }
                                                        else
                                                        {
                                                            @Model.finalmarks
                                                        }
                                                    </td>
}                                                    <td>
                                                        @if (User.IsInRole("Student"))
                                                        {
                                                            @if (string.IsNullOrEmpty(Model.FinalDocs))
                                                            {
                                                                <label for="FinalfileUpload" class="btn btn-sm btn-primary" id="FinalLabel">ZIP</label>
                                                                <input type="file" id="FinalfileUpload" accept=".zip, .rar " style="display:none;" />
                                                                <input type="hidden" id="FinalDocs" name="FinalDocs" value="@Model.FinalDocs" /> <!-- Hidden input to store the uploaded image URL -->
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.FinalDocs" download="Final" class="btn bg btn-sm"><i class="fa fa-download"></i> ZIP</a>

                                                            }
                                                        }
                                                        @if (User.IsInRole("Supervisor") || User.IsInRole("Cordinator"))
                                                        {
                                                            @if (string.IsNullOrEmpty(Model.FinalDocs))
                                                            {
                                                                                                                                                                                                                                                              <p style="color:#dc2626">Not Uploaded</p>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Model.FinalDocs" download="Proposal" class="btn bg btn-sm "><i class="fa fa-download"></i> PPT</a>
                                                            }

                                                        }
                                                    </td>
                                                    @if (User.IsInRole("Student"))
                                                    {
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(Model.FinalDocs))
                                                        {
                                                            <span>
                                                                @if (!string.IsNullOrEmpty(Model.FinalDocs))
                                                                {
                                                                    <button type="button" class="btn btn-sm FinaldeleteUpload bgdelete" data-id="@Model.FinalDocs">Delete ZIP</button>

                                                                }
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span style="font-size:25px"> - </span>
                                                        }
                                                        </td>
                                                    }
                                                    <td>
                                                        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">@Model.finaldate.ToString("dd/MM/yyyy")</span>

                                                    </td>
                                                </tr>
                                                    }
                                                }
                                                else
                                                {
                                             <div class="container">
                                            <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
                                                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                                                    <!-- Trash Icon -->
                                                    <i class="fa fa-trash-o text-secondary" style="font-size: 10rem; display: block;"></i>
                                                    <!-- Text Below the Icon -->
                                                    <p class="text-secondary fw-bold text-center colorChange" style="font-size: 1.5rem;">No Dates Exist!</p>
                                                </div>
                                            </div>
                                            </div>
                                                }
                                            </tbody>
                                    </table>


                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="container">
                                <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
                                    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                                        <!-- Warning Icon -->
                                        <i class="fa fa-exclamation-triangle " style="font-size: 10rem; display: block; color:#fbbf24"></i>
                                        <!-- Text Below the Icon -->
                                        <p class="text-warning fw-bold text-center colorChange" style="font-size: 1.5rem;">Your Project needs Approval!</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="container">
                            <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
                                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                                    <!-- Trash Icon -->
                                    <i class="fa fa-trash-o text-secondary" style="font-size: 10rem; display: block;"></i>
                                    <!-- Text Below the Icon -->
                                    <p class="text-secondary fw-bold text-center colorChange" style="font-size: 1.5rem;">No Project Exist!</p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
                                        <input type="hidden" value="@Model.code" id="code" />

    </div>
</div>

<div class="modal" id="Uploadmodal" tafeather icon-downloadndex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body text-center">
                <p>Are you sure to Upload?</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="onClickYes">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="DeleteUploadmodal" tafeather icon-downloadndex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body text-center">
                <p>Are you sure to Delete?</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="onClickYesDelete">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
@section Scripts {

    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/cards/card-statistics.js"></script>
    <!-- END: Page JS-->
}
<script>

    $(document).ready(function () {
        $(document).on('click', '#btnClick', function () {
            $.ajax({
                url: '/Project/Create',
                type: "GET",
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: " + status + " - " + error);
                }
            });
        });
        $("#previousbtn").click(function () {
            $.ajax({
                url: '/supervisor/projects',
                type: "GET",
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {

                }
            });

        });
        $(".FinaldeleteUpload").click(function () {
            var Docs = $(".FinaldeleteUpload").data("id");
            $("#DeleteUploadmodal").modal('show');
            $("#onClickYesDelete").val(Docs);
        });
        $(".MiddeleteReportUpload").click(function () {
            var Docs = $(".MiddeleteReportUpload").data("id");
            $("#DeleteUploadmodal").modal('show');
            $("#onClickYesDelete").val(Docs);
        });
        $(".MiddeletePPTUpload").click(function () {
            var Docs = $(".MiddeletePPTUpload").data("id");
            $("#DeleteUploadmodal").modal('show');
            $("#onClickYesDelete").val(Docs);
        });
        $(".ProdeleteReportUpload").click(function () {
            var Docs = $(".ProdeleteReportUpload").data("id");
            $("#DeleteUploadmodal").modal('show');
            $("#onClickYesDelete").val(Docs);
        });
        $(".PropdeletePPTUpload").click(function () {
            var Docs = $(".PropdeletePPTUpload").data("id");
            $("#DeleteUploadmodal").modal('show');
            $("#onClickYesDelete").val(Docs);
        });

        $("#onClickYesDelete").click(function (e) {
            e.preventDefault();  // Prevent the default form submission
            var formData = {
                Docs: $("#onClickYesDelete").val(),
                code: $("#code").val(),
            };

            $.ajax({
                type: "POST",
                url: "/project/DeleteSubmissions",
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",  // Sending JSON
                success: function (response) {
                    $('#DeleteUploadmodal').modal('hide');
                    $("#MainContainer").html(response);


                },
                error: function (xhr) {
                    // Handle the error
                    console.log("Error: " + xhr.status + " - " + xhr.statusText);
                }
            });
        });

        $("#onClickYes").click(function (e) {
            e.preventDefault();  // Prevent the default form submission
            var formData = {
                FinalDocs: $("#FinalDocs").val(),
                MidReport: $("#MidReport").val(),
                MidPPT: $("#MidPPT").val(),
                PropReport: $("#PropReport").val(),
                PropPPT: $("#PropPPT").val(),
                code: $("#code").val(),
            };

            $.ajax({
                type: "POST",
                url: "/project/Submissions",
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",  // Sending JSON
                success: function (response) {
                    $('#Uploadmodal').modal('hide');
                    $("#MainContainer").html(response);


                },
                error: function (xhr) {
                    // Handle the error
                    console.log("Error: " + xhr.status + " - " + xhr.statusText);
                }
            });
        });

        $('#ProposalpptUpload').change(function () {
            var fileData = this.files[0];
            var formData = new FormData();
            formData.append('imageFile', fileData);

            $.ajax({
                url: '/shared/Upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        $('#PropPPT').val(response.imageUrl);
                        $('#Uploadmodal').modal('show');

                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error uploading image.');
                }
            });
        });
        $('#ProposalfileUpload').change(function () {
            var fileData = this.files[0];
            var formData = new FormData();
            formData.append('imageFile', fileData);

            $.ajax({
                url: '/shared/Upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        $('#PropReport').val(response.imageUrl);
                        $('#Uploadmodal').modal('show');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error uploading image.');
                }
            });
        });
        $('#MidpptUpload').change(function () {
            var fileData = this.files[0];
            var formData = new FormData();
            formData.append('imageFile', fileData);

            $.ajax({
                url: '/shared/Upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        $('#MidPPT').val(response.imageUrl);
                        $('#Uploadmodal').modal('show');

                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error uploading image.');
                }
            });
        });
        $('#MidfileUpload').change(function () {
            var fileData = this.files[0];
            var formData = new FormData();
            formData.append('imageFile', fileData);

            $.ajax({
                url: '/shared/Upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        $('#MidReport').val(response.imageUrl);
                        $('#Uploadmodal').modal('show');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error uploading image.');
                }
            });
        });
        $('#FinalfileUpload').change(function () {
            var fileData = this.files[0];
            var formData = new FormData();
            formData.append('imageFile', fileData);

            $.ajax({
                url: '/shared/Upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        $('#FinalDocs').val(response.imageUrl);
                        $('#Uploadmodal').modal('show');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error uploading image.');
                }
            });
        });
    });
</script>
<style>
    .bg {
        background-color: rgb(6 182 212);
        color: white;
        margin-bottom: 2px;
    }

    .bgdelete {
        background-color: rgb(244 63 94);
        color: white;
        margin-bottom: 2px;
    }



    .tailwindcolors {
        background-color: #67e8f9 !important;
    }


 

/* Show the remark when the cell is hovered */
td:hover .remark-text {
    display: inline;
}


    .customheightcard {
        height: 80vh !important
    }

    .card-margin {
        margin-bottom: 1.875rem !important;
    }

    .card {
        border: 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        min-width: 0 !important;
        word-wrap: break-word !important;
        background-color: #ffffff !important;
        background-clip: border-box !important;
        border: 1px solid #e6e4e9 !important;
        border-radius: 8px !important;
    }

        .card .card-header.no-border {
            border: 0 !important;
        }

        .card .card-header {
            background: none !important;
            padding: 0 0.9375rem !important;
            font-weight: 500 !important;
            display: flex !important;
            align-items: center !important;
            min-height: 50px !important;
        }

    .card-header:first-child {
        border-radius: calc(8px - 1px) calc(8px - 1px) 0 0 !important;
    }

    body {
        overflow: hidden;
    }

    .table-bordered-custom {
        border: 2px solid #3b0764;
    }

        @* .table-bordered-custom th, .table-bordered-custom td {
            border: 1px solid #3b0764;
        } *@

</style>