@model FYP.Web.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Projects";
    int counter = 0;

}
@section Styles {
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/card-statistics.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/vertical-timeline.css">
    <!-- END: Page CSS-->
    <!-- Add Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Section 1 -->
            <!-- Section 1 -->
            <div class="">
                <div class="p-3 bg-white text-black rounded-lg " style="height:80vh ; min-height:80vh">

                    <!-- Column 1: -->
                    <div class="" style="min-height:100px;">
                        <div class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-4 ">
                            <div class=" text-2xl font-bold">
                                <h1>
                                    Projects
                                </h1>
                            </div>

                        </div>
                    @if (Model.projects == null || !Model.projects.Any())
                    {
                        <button class="btn btn-sm btn-primary ProjectCreate" id="btnClick">Create New Project</button>
                        <div class="container">
                                <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
                                    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                                    <!-- Trash Icon -->
                                    <i class="fa fa-trash-o text-secondary" style="font-size: 10rem; display: block;"></i>
                                    <!-- Text Below the Icon -->
                                    <p class="text-secondary fw-bold text-center colorChange" style="font-size: 1.5rem;">No Project Exist!</p>

                                </div>
                            </div>
                        </div>

                    }
                    else
                    {

                        @foreach (var item in Model.projects)
                        {
                            <div class="row justify-content-center align-items-center " style="min-height: 68vh;">
                                <div class="col-12 col-md-6 col-sm-12 col-lg-6 ">
                                    <div class="card p-0">
                                            <div class="card-header no-border ">
                                                <h5 class=" fs-5 fs-md-4 fs-lg-3">@item.code</h5>

                                                @if (@item.Status == "Approved")
                                            {
                                                    <span title="Project Approved!" class="bg-green-100 mx-1 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 justify-center">
                                                        <i class="fas fa-check-circle"></i>
                                                        Approved
                                                    </span>
                                            }
                                            @if (@item.Status == "NotApproved")
                                            {
                                                    <span title="Cordinator didnt Approve the Project! Change it." class="bg-red-100 mx-1 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 justify-center">
                                                        <i class="fas fa-times-circle"></i>
                                                        Not Approved
                                                    </span>


                                            }
                                            @if (@item.Status == null)
                                            {
                                                    <span title="Cordinator didnt Approve yet!" class="bg-yellow-100 mx-1 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 justify-center">
                                                        <i class="fas fa-hourglass-half"></i>
                                                        Pending
                                                    </span>


                                            }
                                        </div>
                                        <div class=" card-body pt-0 " style="overflow-x: auto;">
                                            <div class="widget-49">
                                                <div class="widget-49-title-wrapper">
                                                    <div style="background-color:aqua;" class="widget-49-date-warning">
                                                        <span  class="widget-49-date-day">@(counter = counter + 1)</span>
                                                       
                                                    </div>
                                                    <div class="widget-49-meeting-info">
                                                            <span class="widget-49-pro-title"><b>@item.Title</b></span>
                                                        <span class="" style="color:#16a34a;">@item.batch</span>
                                                    </div>
                                                </div>
                                                <table style="border-spacing: 0;">
                                                    <tr>
                                                        <td style="padding: 0; margin: 0;">
                                                            <span class="text-black fw-bold">Group:</span>
                                                            <u>   <span style="margin-left:1.9rem;" class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300 ">@item.groupname</span></u>
                                                        </td>
                                                       @*  <td style="padding: 0; margin: 0;">
                                                            <span style="margin-left:6rem;" class="text-black fw-bold ">Proposal Date:</span>
                                                            <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300">
                                                                @(item.Proposaldate != null ? item.Proposaldate.ToString("dd/MM/yy") : "N/A")
                                                            </span>
                                                        </td> *@
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0; margin: 0;">
                                                            <span class="widget-49-meeting-item fw-bold">Dept:</span>
                                                                <u>   <span style="margin-left:2.5rem;" class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300 ">@item.projectGroup</span></u>
                                                        </td>
                                                        @* <td style="padding: 0; margin: 0;">
                                                            <span style="margin-left:6rem;" class="widget-49-meeting-item fw-bold ">Mid Date:</span>
                                                            <span style="margin-left:2.4rem;" class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300">
                                                                @(item.middate != null ? item.middate.ToString("dd/MM/yy") : "N/A")
                                                            </span>
                                                        </td> *@
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0; margin: 0;">
                                                            <span class="widget-49-meeting-item fw-bold">Supervisor:</span>
                                                                <u>  <span class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300 ">@item.supervisorname</span></u>
                                                        </td>
                                                        @* <td style="padding: 0; margin: 0;">
                                                            <span style="margin-left:6rem;"  class="widget-49-meeting-item fw-bold ">Final Date:</span>
                                                            <span style="margin-left:1.9rem;" class="text-green-600 text-sm font-medium dark:bg-green-900 dark:text-green-300">
                                                                <u>  @(item.finaldate != null ? item.finaldate.ToString("dd/MM/yy") : "N/A")</u>
                                                            </span>
                                                        </td> *@
                                                    </tr>
                                                    
                                                </table>

                                             
                                              
                                                <div class="widget-49-meeting-action">
                                                    @if (item.Status == "NotApproved" || item.SupervsiorApproved == "NotApproved")
                                                    {
                                                            <a class="btn btn-sm btn-flash-border-warning " id="EditClicks" data-id="@item.ProId">Edit</a>
                                                    }
                                                       
                                                        <p class="btn btn-sm btn-flash-border-warning " id="Details" data-id="@item.code">DETAILS</p>
@*                                                         <p class="btn btn-sm btn-flash-border-warning " id="ChangeTitleForm" data-id="@item.code">ChangeTitleForm</p>
 *@                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->
@section Scripts {

    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/cards/card-statistics.js"></script>
    <!-- END: Page JS-->
}
    <script>
        $(document).ready(function () {
            // Event delegation for dynamically loaded elements
            $(document).on('click', '#btnClick', function (e) {
                e.preventDefault();  // Prevent default form submission or link navigation
                $.ajax({
                    url: '/Project/Create',
                    type: "GET",
                    success: function (response) {
                        $("#MainContainer").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error: " + status + " - " + error);
                    }
                });
            });

            $(document).on('click', '#Details', function () {
                var Code = $(this).data('id');
                $.ajax({
                    url: '/project/projectdetails',
                    type: "GET",
                    data: { code: Code },
                    success: function (response) {
                        $("#MainContainer").html(response);
                    },
                    error: function () {
                        console.log("Error loading project details.");
                    }
                });
            });

            $(document).on('click', '.Submission', function () {
                $.ajax({
                    url: '/project/projectlist',
                    type: "GET",
                    success: function (response) {
                        $("#MainContainer").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error: " + status + " - " + error);
                    }
                });
            });

            // Edit Project
            $(document).on('click', '#EditClicks', function () {
                var ID = $(this).data('id');
                $.ajax({
                    url: '/project/EditProjects',
                    type: "GET",
                    data: { id: ID },
                    success: function (response) {
                        $("#MainContainer").html("");
                        $("#MainContainer").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error: " + status + " - " + error);
                    }
                });
            });

            $(document).on('click', '#ChangeTitleForm', function () {
                $.ajax({
                    url: '/project/projectlist',
                    type: "GET",
                    success: function (response) {
                        $("#MainContainer").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error: " + status + " - " + error);
                    }
                });
            });
        });
    </script>
    <style>

    body {
        overflow: hidden;
    }

    .customheightcard {
        height: 78vh !important
    }

    .tailwindcolors {
        background-color: #67e8f9 !important;
    }

</style>
<style>


    .customheightcard {
        height: 78vh !important
    }

    .card-margin {
        margin-bottom: 1.875rem !important;
    }

    .card {
        border: 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        min-width: 0 !important;
        word-wrap: break-word !important;
        background-color: #ffffff !important;
        background-clip: border-box !important;
        border: 1px solid #3b0764 !important;
        border-radius: 8px !important;
    }

        .card .card-header.no-border {
            border: 0 !important;
        }

        .card .card-header {
            background: none !important;
            padding: 0 0.9375rem !important;
            font-weight: 500 !important;
            display: flex !important;
            align-items: center !important;
            min-height: 50px !important;
        }

    .card-header:first-child {
        border-radius: calc(8px - 1px) calc(8px - 1px) 0 0 !important;
    }

    .widget-49 .widget-49-title-wrapper {
        display: flex !important;
        align-items: center !important;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #edf1fc !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
                color: #4e73e5 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
                color: #4e73e5 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fcfcfd !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
                color: #dde1e9 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
                color: #dde1e9 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #e8faf8 !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
                color: #17d1bd !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
                color: #17d1bd !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebf7ff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
                color: #36afff !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
                color: #36afff !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fef3c7 !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
                color: #FFC868 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
                color: #FFC868 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #feeeef !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
                color: #F95062 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
                color: #F95062 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fefeff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
                color: #f7f9fa !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
                color: #f7f9fa !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebedee !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
                color: #394856 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
                color: #394856 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #f0fafb !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
                color: #68CBD7 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
                color: #68CBD7 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
            display: flex !important;
            flex-direction: column !important;
            margin-left: 1rem !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
                color: #3c4142 !important;
                font-size: 14px !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
                color: #B1BAC5 !important;
                font-size: 13px !important;
            }

    .widget-49 .widget-49-meeting-points {
        font-weight: 400 !important;
        font-size: 13px !important;
        margin-top: .5rem !important;
    }

        .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
            display: list-item !important;
            color: #727686 !important;
        }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
                margin-left: .5rem !important;
            }

    .widget-49 .widget-49-meeting-action {
        text-align: right !important;
    }

        .widget-49 .widget-49-meeting-action a {
            text-transform: uppercase !important;
        }

    body {
        overflow: hidden !important;
    }

</style>