@model FYP.Web.ViewModels.EvaluationMarksViewModel


@{

}
<style>
    .cardLisst {
        background: #fef9c3 !important;
        font-family: Arial, sans-serif !important;
    }

</style>
<!-- BEGIN: Content-->
<div id="ExamContainer">
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body ">
                <section class="users-list-wrapper">
                    <div class="users-list-filter px-1">
                        <!-- Section 1 -->
                        <div class=" ">
                            <div class="p-6 bg-white text-black  " style="height:80vh ; min-height:80vh">

                                <!-- Column 1: -->
                                <div class="" style="min-height:100px;">
                                    <div class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-4 ">
                                        <div class=" text-2xl font-bold">
                                            <h1>
                                                Evaluation
                                            </h1>
                                        </div>

                                    </div>
                                    <div class="row p-2">

                                        <!-- Group -->
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 order-sm-1 order-md-1 order-lg-1">
                                            <div class="form-group">
                                                <label>Group</label>
                                                <fieldset>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon3">
                                                                <i class="fa fa-users" style="color: transparent; -webkit-text-stroke: 1px black;"></i>
                                                            </span>

                                                        </div>

                                                        @if (Model.Groups != null)
                                                        {
                                                            <select class="form-control" id="GroupSelect">
                                                                <option value="" selected>Select Group</option>
                                                                @foreach (var item in Model.Groups)
                                                                {
                                                                    if (Model.GroupId != null && Model.GroupId == item.ID.ToString())
                                                                    {

                                                                        <option value="@item.ID" selected>@item.Name</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.ID">@item.Name</option>
                                                                    }
                                                                }
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" placeholder="No Group Exist" aria-describedby="basic-addon1" readonly required>
                                                        }

                                                    </div>
                                                    <span asp-validation-for="Groups" class="text-danger"></span>
                                                </fieldset>
                                            </div>
                                        </div>

                                        <!-- Evaluation -->
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 order-sm-2 order-md-2">
                                            <div class="form-group">
                                                <label>Evaluation</label>
                                                <fieldset>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon3">
                                                                <i class="fa fa-pencil" style="color: transparent; -webkit-text-stroke: 1px black;"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Select Group First" id="EvalName" aria-describedby="basic-addon1" value="@Model.EvalName" readonly required>

                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 order-sm-3 order-md-3">
                                        @if (Model.EvalName != null && Model.EvalName == "Proposal")
                                        {

                                            <div class="container" id="evaluationForm">
                                                <!-- 1. Introduction & Background -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Introduction & Background</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno1" value="1" @(Model.qno1 == "1" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno1" value="0.8" @(Model.qno1 == "0.8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno1" value="0.6" @(Model.qno1 == "0.6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno1" value="0.4" @(Model.qno1 == "0.4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno1" value="0.2" @(Model.qno1 == "0.2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 2. Literature Review -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Literature Review</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno2" value="1" @(Model.qno2 == "1" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno2" value="0.8" @(Model.qno2 == "0.8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno2" value="0.6" @(Model.qno2 == "0.6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno2" value="0.4" @(Model.qno2 == "0.4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno2" value="0.2" @(Model.qno2 == "0.2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 3. Problem Statement -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Problem Statement</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno3" value="1" @(Model.qno3 == "1" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno3" value="0.8" @(Model.qno3 == "0.8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno3" value="0.6" @(Model.qno3 == "0.6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno3" value="0.4" @(Model.qno3 == "0.4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno3" value="0.2" @(Model.qno3 == "0.2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 4. Scope of the Project -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Scope of the Project</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno4" value="1" @(Model.qno4 == "1" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno4" value="0.8" @(Model.qno4 == "0.8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno4" value="0.6" @(Model.qno4 == "0.6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno4" value="0.4" @(Model.qno4 == "0.4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno4" value="0.2" @(Model.qno4 == "0.2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 5. Project Objectives -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Project Objectives</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno5" value="1" @(Model.qno5 == "1" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno5" value="0.8" @(Model.qno5 == "0.8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno5" value="0.6" @(Model.qno5 == "0.6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno5" value="0.4" @(Model.qno5 == "0.4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno5" value="0.2" @(Model.qno5 == "0.2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 6. Methodology -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Methodology</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno6" value="1" @(Model.qno6 == "1" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno6" value="0.8" @(Model.qno6 == "0.8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno6" value="0.6" @(Model.qno6 == "0.6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno6" value="0.4" @(Model.qno6 == "0.4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno6" value="0.2" @(Model.qno6 == "0.2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 7. Deliverables -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Deliverables</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno7" value="1" @(Model.qno7 == "1" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno7" value="0.8" @(Model.qno7 == "0.8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno7" value="0.6" @(Model.qno7 == "0.6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno7" value="0.4" @(Model.qno7 == "0.4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno7" value="0.2" @(Model.qno7 == "0.2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- Remarks -->
                                                <div class="w-100 mt-2">
                                                    <label>Remarks:</label>
                                                    <textarea name="Remarks" id="Remarks" class="form-control" style="resize:none; height:150px;"
                                                              placeholder="Enter Remarks">@Model.Remarks</textarea>
                                                </div>

                                                <!-- Submit Button -->
                                                <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                                                    <div class="flex justify-center">
                                                        <button id="submitEvaluation" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                        @if (Model.EvalName != null && Model.EvalName == "Mid")
                                        {
                                            <div class="container" id="evaluationForm">
                                                <!-- 1 -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Able to Cope with Advices / Suggestions Given (Scope Defined Clearly)</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno1" value="5" @(Model.qno1 == "5" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno1" value="4" @(Model.qno1 == "4" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno1" value="3" @(Model.qno1 == "3" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno1" value="2" @(Model.qno1 == "2" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno1" value="1" @(Model.qno1 == "1" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 2 -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Performing According to the Timeline (Studied Existing Systems Before Starting Project)</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno2" value="5" @(Model.qno2 == "5" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno2" value="4" @(Model.qno2 == "4" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno2" value="3" @(Model.qno2 == "3" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno2" value="2" @(Model.qno2 == "2" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno2" value="1" @(Model.qno2 == "1" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 3 -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Designed Framework of the Project (Implementation / Coding)</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno3" value="5" @(Model.qno3 == "5" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno3" value="4" @(Model.qno3 == "4" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno3" value="3" @(Model.qno3 == "3" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno3" value="2" @(Model.qno3 == "2" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno3" value="1" @(Model.qno3 == "1" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 4 -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Able to Present / Demonstrate Work</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno4" value="5" @(Model.qno4 == "5" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno4" value="4" @(Model.qno4 == "4" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno4" value="3" @(Model.qno4 == "3" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno4" value="2" @(Model.qno4 == "2" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno4" value="1" @(Model.qno4 == "1" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 5 -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">Writing Abilities and Maintaining Log Files</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno5" value="5" @(Model.qno5 == "5" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno5" value="4" @(Model.qno5 == "4" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno5" value="3" @(Model.qno5 == "3" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno5" value="2" @(Model.qno5 == "2" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno5" value="1" @(Model.qno5 == "1" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- Remarks -->
                                                <div class="w-100 mt-2">
                                                    <label>Remarks:</label>
                                                    <textarea name="Remarks" id="Remarks" class="form-control" style="resize:none; height:150px;"
                                                              placeholder="Enter Remarks">@Model.Remarks</textarea>
                                                </div>

                                                <!-- Submit Button -->
                                                <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                                                    <div class="flex justify-center">
                                                        <button id="submitEvaluation" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                        @if (Model.EvalName != null && Model.EvalName == "Final")
                                        {
                                            <div class="container" id="evaluationForm">
                                                <!-- 1st Student -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">1<sup>st</sup> Student - @Model.stu1</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno1" value="10" @(Model.qno1 == "10" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno1" value="8" @(Model.qno1 == "8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno1" value="6" @(Model.qno1 == "6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno1" value="4" @(Model.qno1 == "4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno1" value="2" @(Model.qno1 == "2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 2nd Student -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">2<sup>nd</sup> Student - @Model.stu2</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno2" value="10" @(Model.qno2 == "10" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno2" value="8" @(Model.qno2 == "8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno2" value="6" @(Model.qno2 == "6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno2" value="4" @(Model.qno2 == "4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno2" value="2" @(Model.qno2 == "2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- 3rd Student -->
                                                <div class="border border-2 border-dark w-100 mt-2" style="border-radius: 12px 12px 0px 0px;">
                                                    <p class="fw-bold fs-4 px-2 py-2">3<sup>rd</sup> Student - @Model.stu3</p>
                                                </div>
                                                <div class="border border-2 border-dark w-100 py-2">
                                                    <div class="d-flex gap-3 mx-2">
                                                        <input type="radio" name="qno3" value="10" @(Model.qno3 == "10" ? "checked" : "") /> Excellent
                                                        <input type="radio" name="qno3" value="8" @(Model.qno3 == "8" ? "checked" : "") /> Good
                                                        <input type="radio" name="qno3" value="6" @(Model.qno3 == "6" ? "checked" : "") /> Adequate
                                                        <input type="radio" name="qno3" value="4" @(Model.qno3 == "4" ? "checked" : "") /> Marginal
                                                        <input type="radio" name="qno3" value="2" @(Model.qno3 == "2" ? "checked" : "") /> Poor
                                                    </div>
                                                </div>

                                                <!-- Remarks -->
                                                <div class="w-100 mt-2">
                                                    <label>Remarks:</label>
                                                    <textarea name="Remarks" id="Remarks" class="form-control" style="resize:none; height:150px;"
                                                              placeholder="Enter Remarks">@Model.Remarks</textarea>
                                                </div>

                                                <!-- Submit Button -->
                                                <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-2">
                                                    <div class="flex justify-center">
                                                        <button id="submitEvaluation" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>


                                        }

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
<!-- END: Content-->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@if (ViewBag.success == "Assigned")
{
    <script>
        Swal.fire({
            title: '<strong>Evaluation Marked!</strong>',  // HTML-formatted title with additional text
            icon: 'success',                // Warning icon for alerts
            confirmButtonText: 'OK',        // Text on the confirm button
            customClass: {
                confirmButton: 'btn btn-success',  // Bootstrap class for the button
            },
            showCancelButton: false,        // Hides the cancel button
            buttonsStyling: false,          // Disables default button styling
        });

    </script>
}@if (ViewBag.success == "Updated")
{
    <script>
        Swal.fire({
            title: '<strong>Evaluation Updated!</strong>',  // HTML-formatted title with additional text
            icon: 'success',                // Warning icon for alerts
            confirmButtonText: 'OK',        // Text on the confirm button
            customClass: {
                confirmButton: 'btn btn-success',  // Bootstrap class for the button
            },
            showCancelButton: false,        // Hides the cancel button
            buttonsStyling: false,          // Disables default button styling
        });

    </script>
}@if (ViewBag.success == "Failed")
{
    <script>
        Swal.fire({
            title: '<strong>Evaluation Didnot Marked Successfully!</strong>',  // HTML-formatted title with additional text
            icon: 'warning',                // Warning icon for alerts
            confirmButtonText: 'OK',        // Text on the confirm button
            customClass: {
                confirmButton: 'btn btn-danger',  // Bootstrap class for the button
            },
            showCancelButton: false,        // Hides the cancel button
            buttonsStyling: false,          // Disables default button styling
        });

    </script>
}

@if (Model.GroupId != null && Model.EvalName != null)
{
    <script>
        $(document).ready(function () {
        const groupId = $('#GroupSelect').val(); // Get the selected group ID
        const evalName = $('#EvalName').val(); // Get the evaluation name

        // Make an AJAX call to check submission eligibility
        $.ajax({
            url: '/studentgroups/CheckSubmissionEligibility', // Replace with your controller's route
            type: 'GET',
            data: { groupId: groupId, evalName: evalName },
            success: function (response) {
                const $submitButton = $('#submitEvaluation');

                if (!response.canAssign) {
                    if (response.isLocked) {
                        // Permanently lock the button
                        $submitButton
                            .prop('disabled', true)
                            .text('Submit (Locked)');
                    } else {
                        // Temporarily disable the button for the remaining minutes
                        $submitButton
                            .prop('disabled', true)
                            .text('Submit (Disabled for ' + Math.ceil(response.minutesLeft) + ' minutes)');
                    }
                } else {
                    // Enable the button if the user can assign marks
                    $submitButton
                        .prop('disabled', false)
                        .text('Submit');
                }
            },
            error: function () {
                console.error('An error occurred while checking submission eligibility.');
            }
        }); 
        });

    </script>
}


<script>
    $(document).ready(function () {
        // Function to validate form
        function validateForm() {
            let allSelected = true;

            // Dynamically count the number of questions
            const questionCount = $('[name^="qno"]').map(function () {
                return $(this).attr('name');
            }).get().filter((v, i, a) => a.indexOf(v) === i).length;

            // Loop through each question group
            for (let i = 1; i <= questionCount; i++) {
                const groupName = `qno${i}`;
                const groupRadios = $(`input[name="${groupName}"]`);
                const isChecked = groupRadios.is(':checked');

                // Check if a radio button in the group is selected
                if (!isChecked) {
                    allSelected = false;

                    // Highlight the question label in red
                    groupRadios.closest('.border')
                        .prev()
                        .find('p')
                        .addClass('text-danger');
                } else {
                    // Remove danger color if selected
                    groupRadios.closest('.border')
                        .prev()
                        .find('p')
                        .removeClass('text-danger');
                }
            }
             // Check if the Remarks field is filled
            const remarks = $('#Remarks').val().trim();
            if (remarks === '') {
                allSelected = false;

                // Highlight the Remarks field in red
                $('#Remarks').addClass('border-danger');

                // Optionally, display a helper text or error message
                if ($('#remarksError').length === 0) {
                    $('#Remarks').after('<span id="remarksError" class="text-danger">Remarks are required.</span>');
                }
            } else {
                // Remove the error styling and message if filled
                $('#Remarks').removeClass('border-danger');
                $('#remarksError').remove();
            }

            return allSelected;
        }

        // Submit button click handler
        $(document).off('click', '#submitEvaluation').on('click', '#submitEvaluation', function (e) {
            e.preventDefault(); // Prevent default button behavior

            // Perform validation
            if (!validateForm()) {
                return; // Stop if validation fails
            }

            // Show loading spinner
            showLoadingSpinner();

            // Collect form data
            let formData = {
                GroupId: $('#GroupSelect').val(),
                EvalName: $('#EvalName').val(),
                qno1: $('input[name="qno1"]:checked').val(),
                qno2: $('input[name="qno2"]:checked').val(),
                qno3: $('input[name="qno3"]:checked').val(),
                qno4: $('input[name="qno4"]:checked').val(),
                qno5: $('input[name="qno5"]:checked').val(),
                qno6: $('input[name="qno6"]:checked').val(),
                qno7: $('input[name="qno7"]:checked').val(),
                qno8: $('input[name="qno8"]:checked').val(),
                Remarks: $('#Remarks').val(),
            };

            // Send AJAX POST request
            $.ajax({
                url: '/studentgroups/AssignEvaluationMarks',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    hideLoadingSpinner();
                    $("#MainContainer").html(response);
                },
                error: function (xhr, status, error) {
                    hideLoadingSpinner();
                    alert('An error occurred while submitting the form.');
                    console.error(xhr.responseText);
                }
            });
        });

        // Helper function for total marks calculation
        function calculateTotalMarks() {
            let total = 0;
            for (let i = 1; i <= 8; i++) {
                let value = parseFloat($(`input[name="qno${i}"]:checked`).val());
                if (!isNaN(value)) {
                    total += value;
                }
            }
            return total;
        }

        // Handle group select change
        $(document).off('change', '#GroupSelect').on('change', '#GroupSelect', function (e) {
            e.preventDefault();

            showLoadingSpinner();
            var Id = $(this).val();

            $.ajax({
                url: "/studentgroups/GroupEvaluation",
                type: "POST",
                data: { groupId: Id },
                success: function (response) {
                    hideLoadingSpinner();
                    $("#MainContainer").html(response);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    hideLoadingSpinner();
                    console.error("Error fetching rooms:", textStatus, errorThrown);
                    alert("An error occurred while fetching the rooms. Please try again.");
                }
            });
        });
    });
</script>
