@model FYP.Web.ViewModels.StudentGroupViewModel
@{
    ViewData["Title"] = "Student Groups";
    int counter = 0;
}

<!-- BEGIN: Content-->
<div id="ChangeDiv">
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body ">
                <section class="users-list-wrapper">
                    <div class="users-list-filter px-1">
                        <!-- Section 1 -->
                        <div class="mb-2 ">
                            <div class="p-6 bg-white text-black rounded-lg customheightcard">
                                <!-- Column 1: -->
                                <!-- Column 1: -->

                                <div class="w-full flex flex-wrap lg:flex-nowrap justify-between items-center" id="container">
                                    <!-- Left content (div1) -->
                                    <div class="p-8 text-2xl font-bold lg:text-left text-center w-full lg:w-auto" id="div1">
                                        <h1>Student Groups</h1>
                                    </div>

                                    <!-- Right content (div2) -->
                                    <div class="search-container flex justify-center lg:justify-end w-full lg:w-auto mt-1 lg:mt-0 mb-2" id="div2">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle mx-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select Batch
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                @foreach (var item in Model.Batches)
                                                {
                                                    <a class="dropdown-item batchChange" data-id="@item">@item</a>
                                                }
                                                <a class="dropdown-item batchChange" data-id="All Projects">All Projects</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if (Model.StudentGroups == null || !Model.StudentGroups.Any())
                                {
                                    <div class="container mt-0 md:mt-5 lg:mt-5">
                                        <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
                                            <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                                                <div class="card">
                                                    <div class="card-header text-center">
                                                        <h5 class="card-title">No Student Group Exists</h5>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <p>It looks like there are currently no student groups available. Please create a new group to get started.</p>
                                                        <button type="button" class="btn btn-sm btn-primary" id="CreateGroup">Create New Group</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="container mt-0 md:mt-5 lg:mt-5">
                                        <div class="row d-flex justify-content-center align-items-center">
                                            @foreach (var item in Model.StudentGroups)
                                            {
                                                <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                                                    <div class="card p-0">
                                                        <div class="card-header no-border">
                                                            <h5 class="card-title">@item.Name</h5>
                                                            <div class="ml-auto mx-1">
                                                                <button type="button" class="btn btn-sm btn-primary editBTN" data-id="@item.Id">Edit</button>
                                                            </div>
                                                            <div class="dropdown">
                                                                <a class="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa fa-ellipsis-v"></i>
                                                                </a>

                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                    <a class="dropdown-item changeSupervisor" data-id="@item.Id"><i class="fa fa-user-circle"></i>Change Supervisor</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body pt-0 ">
                                                            <div class="widget-49">
                                                                <div class="widget-49-title-wrapper">
                                                                    <div class="widget-49-date-warning">
                                                                        <span class="widget-49-date-day">@(counter = counter + 1)</span>
                                                                    </div>
                                                                    <div class="widget-49-meeting-info">
                                                                        <span class="widget-49-pro-title ">@(item.supervisorname ?? "N/A")</span>
                                                                        <span class="widget-49-meeting-time">@item.Batch</span>
                                                                    </div>
                                                                </div>
                                                                <ol class="widget-49-meeting-points">
                                                                    <li class="widget-49-meeting-item">
                                                                        <span>
                                                                            Leader:
                                                                            <span class="@(string.IsNullOrEmpty(item.LeaderName) ? "text-danger" : "text-success")">
                                                                                @(item.LeaderName ?? "Name yet to Enter")
                                                                            </span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="widget-49-meeting-item">
                                                                        <span>
                                                                            Member:
                                                                            <span class="@(string.IsNullOrEmpty(item.member1) ? "text-danger" : "text-success")">
                                                                                @(item.member1 ?? "Name yet to Enter")
                                                                            </span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="widget-49-meeting-item">
                                                                        <span>
                                                                            Member:
                                                                            <span class="@(string.IsNullOrEmpty(item.Member2) ? "text-danger" : "text-success")">
                                                                                @(item.Member2 ?? "Name yet to Enter")
                                                                            </span>
                                                                        </span>
                                                                    </li>
                                                                </ol>

                                                                @* <table class="responsive mx-1">
                                                        <tbody>
                                                        <tr>
                                                        <td>Leader:</td>
                                                        <td class="text-green-600">
                                                        <span class="mx-2">@(item.LeaderName)</span>
                                                        </td>
                                                        </tr>
                                                        <tr>
                                                        <td>Member:</td>
                                                        <td class="text-green-600">
                                                        <span class="mx-2">@(item.member1)</span>
                                                        </td>
                                                        </tr>
                                                        <tr>
                                                        <td>Member:</td>
                                                        <td class="text-green-600">
                                                        <span class="mx-2">@(item.Member2)</span>
                                                        </td>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                        *@

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.StudentGroups.Count() < 2)
                                            {
                                                <div class="col-12 col-md-6 col-sm-12 col-lg-3 btn" id="CreateGroup">
                                                    <div class="card text-center ">
                                                        <div class="card-body ">
                                                            <i class="fa fa-plus fa-10x colorchange"></i> <!-- Large Plus Icon -->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
<!-- Modal -->
<script>
    $(document).ready(function () {
        $("#CreateGroup").click(function () {
            $.ajax({
                url: '/supervisor/create',
                type: "GET",
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {

                }
            });
        });

       @*  $('.changeSupervisor').on('click', function () {
            var groupId = $(this).data("value");
            $.ajax({
                url: '/supervisor/ChangeSupervisor',
                type: "GET",
                data: { groupId: groupId },
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {

                }
            });
        }); *@
    @* Edit Group *@
            $('.editBTN').on('click', function () {
                var ID = $(this).data("id");
                $.ajax({
                    url: '/studentgroups/EditGroup',
                    type: "GET",
                    data: { id: ID },
                    success: function (response) {
                        $("#MainContainer").html(response);
                    },
                    error: function () {

                    }
                });
            });
    @* ChangeSupervisor *@
            $('.changeSupervisor').on('click', function () {
                var groupId = $(this).data("id");
                $.ajax({
                    url: '/studentgroups/ChangeSupervisor',
                    type: "GET",
                    data: { groupId: groupId },
                    success: function (response) {
                        $("#MainContainer").html(response);
                    },
                    error: function () {

                    }
                });
            });
        $(".batchChange").click(function () {
            var batch = $(this).data("id");
            $.ajax({
                url: '/studentgroups/StudentGroupbyBatch',
                type: "GET",
                data: { batch: batch }, // Send batch as a query parameter
                success: function (response) {
                    $("#ChangeDiv").html(response);

                    $("#dropdownMenuButton").text(batch);
                },
                error: function () {

                }
            });


        });

    });
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@if (Model.StudentGroups.Count() <= 2)
{
       <style>
            @@media (min-width: 1024px) {
                body {
                    overflow: hidden;
                }

                .customheightcard {
                    height: 78vh !important
                }
            }

    </style>
}

<style>





    .card-margin {
        margin-bottom: 1.875rem !important;
    }

    .card {
        border: 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        min-width: 0 !important;
        word-wrap: break-word !important;
        background-color: #ffffff !important;
        background-clip: border-box !important;
        border: 1px solid #e6e4e9 !important;
        border-radius: 8px !important;
    }

        .card .card-header.no-border {
            border: 0 !important;
        }

        .card .card-header {
            background: none !important;
            padding: 0 0.9375rem !important;
            font-weight: 500 !important;
            display: flex !important;
            align-items: center !important;
            min-height: 50px !important;
        }

    .card-header:first-child {
        border-radius: calc(8px - 1px) calc(8px - 1px) 0 0 !important;
    }

    .widget-49 .widget-49-title-wrapper {
        display: flex !important;
        align-items: center !important;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #edf1fc !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
                color: #4e73e5 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
                color: #4e73e5 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fcfcfd !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
                color: #dde1e9 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
                color: #dde1e9 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #e8faf8 !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
                color: #17d1bd !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
                color: #17d1bd !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebf7ff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
                color: #36afff !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
                color: #36afff !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: floralwhite !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
                color: #FFC868 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
                color: #FFC868 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #feeeef !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
                color: #F95062 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
                color: #F95062 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #fefeff !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
                color: #f7f9fa !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
                color: #f7f9fa !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #ebedee !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
                color: #394856 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
                color: #394856 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
            background-color: #f0fafb !important;
            width: 4rem !important;
            height: 4rem !important;
            border-radius: 50% !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
                color: #68CBD7 !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                line-height: 1 !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
                color: #68CBD7 !important;
                line-height: 1 !important;
                font-size: 1rem !important;
                text-transform: uppercase !important;
            }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
            display: flex !important;
            flex-direction: column !important;
            margin-left: 1rem !important;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
                color: #3c4142 !important;
                font-size: 14px !important;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
                color: #B1BAC5 !important;
                font-size: 13px !important;
            }

    .widget-49 .widget-49-meeting-points {
        font-weight: 400 !important;
        font-size: 13px !important;
        margin-top: .5rem !important;
    }

        .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
            display: list-item !important;
            color: #727686 !important;
        }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
                margin-left: .5rem !important;
            }

    .widget-49 .widget-49-meeting-action {
        text-align: right !important;
    }

        .widget-49 .widget-49-meeting-action a {
            text-transform: uppercase !important;
        }

    body {
        overflow: hidden;
    }

</style>
